div.main {
  display: flex;
  padding: 1em 0.5em;
}

.content {
  vertical-align: top;
  margin: 0 2em;
  flex: 1;
}

.login-form {
  margin: auto;
  padding: 1em;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
}

.login-form img {
  margin-bottom: 1em;
}

.login-form label {
  width: 6em !important;
}

.login-form .pure-controls {
  margin-left: 0;
}

.menu-button {
  min-width: 7em;
  font-size: 0.8em;
  border-radius: 6px;
}

.success-button {
  color: white;
  background: green;
}

.warning-button {
  color: black;
  background: yellow;
}

.error-button {
  color: white;
  background: red;
}

.status-line {
  margin-top: 0.5em;
}

.status-line .status-left {
  text-align: left;
}

.status-line .status-center {
  text-align: center;
}

.status-line .status-right {
  text-align: right;
}

.status-line span {
  padding: 0.5em 1em;
}

fieldset {
  margin-left: 2em !important;
}

table.table thead, table.table tfoot {
  text-align: left;
}

.pure-table-horizontal td {
  border-bottom: 2px solid #dbdbdb !important;
}

.pure-form-stacked .pure-control-group {
  margin-bottom: 1em;
}

