{{- define "address_password" -}}
  {{template "header" .}}

  <form class="pure-form pure-form-aligned" action="/address/{{.ID}}" method="POST" accept-charset="UTF-8" autocomplete="off">
    {{.CsrfField}}

    <fieldset>
      <div class="pure-control-group">
        <label for="address_address">{{T "address_one"}}</label>
        <input id="address_address" type="text" name="address_address" value="{{.Address.Address}}" readonly>
      </div>

      <div class="pure-control-group">
        <label for="address_password">{{T "address_password"}}</label>
        <input id="address_password" type="password" name="address_password" autofocus>
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button menu-button success-button">
          <i class="fa fa-check"></i>
          <br>
          {{T "action_save"}}
        </button>
        &nbsp;&nbsp;
        <a href="/logout" class="pure-button menu-button">
          <i class="fa fa-times"></i>
          <br>
          {{T "action_cancel"}}
        </a>
      </div>
    </fieldset>
  </form>

  {{template "footer" .}}
{{end}}

{{/* vim: set expandtab softtabstop=2 shiftwidth=2 autoindent : */}}
