{{- define "address_edit" -}}
  {{template "header" .}}

  <form class="pure-form pure-form-aligned" action="{{.Base_URL}}address/{{.Address.ID}}" method="POST" accept-charset="UTF-8" autocomplete="off">
    {{.CsrfField}}

    <fieldset>
      <div class="pure-controls first-control-group">
        {{if .Address.ID}}
          <h3>{{T "address_one"}}: {{.Address.Email}}</h3>
        {{else}}
          <h3>{{T "address_one"}}: {{T "show_new"}}</h3>
        {{end}}
      </div>

      <div class="pure-control-group">
        <label for="address_local_part">{{T "address_local_part"}}</label>
        <input id="address_local_part" type="text" name="address_local_part" value="{{.Address.LocalPart}}" required autofocus>
        <span class="pure-form-message-inline">{{T "address_local_part_hint"}}</span>
      </div>

      <div class="pure-control-group">
        <label for="address_domain_name">{{T "domain_one"}}</label>
        <select id="address_domain_name" name="address_domain_name">
          {{range .Domains}}
            {{if .Selected}}
              <option value="{{.Name}}" selected>{{.Name}}</option>
            {{else}}
              <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
          {{end}}
        </select>
      </div>

      <div class="pure-control-group">
        <label for="address_other_email">{{T "address_other_email"}}</label>
        <input id="address_other_email" type="text" name="address_other_email" value="{{.Address.OtherEmail}}">
        <span class="pure-form-message-inline">{{T "address_other_email_hint"}}</span>
      </div>

      <div class="pure-control-group">
        <label for="address_admin">{{T "address_admin"}}</label>
        <select id="address_admin" name="address_admin">
          {{if .Address.Admin}}
            <option value="yes" selected>{{T "positive"}}</option>
            <option value="no">{{T "negative"}}</option>
          {{else}}
            <option value="yes">{{T "positive"}}</option>
            <option value="no" selected>{{T "negative"}}</option>
          {{end}}
        </select>
      </div>

      <div class="pure-control-group">
        <label for="address_alias_list">{{T "alias_many"}}</label>
        <textarea id="address_alias_list" name="address_alias_list" rows="5">{{.Address.AliasList}}</textarea>
        <span class="pure-form-message-inline">{{T "address_aliases_hint"}}</span>
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button menu-button success-button" value="save">
          <i class="fa fa-check"></i>
          <br>
          {{T "action_save"}}
        </button>
        <a href="{{.Base_URL}}home" class="pure-button menu-button">
          <i class="fa fa-times"></i>
          <br>
          {{T "action_cancel"}}
        </a>
      </div>
    </fieldset>
  </form>

  {{template "footer" .}}
{{end}}

{{/* vim: set expandtab softtabstop=2 shiftwidth=2 autoindent : */}}
