{{- define "domain_edit" -}}
  {{template "header" .}}

  <form class="pure-form pure-form-aligned" action="{{.Base_URL}}domain/{{.Domain.ID}}" method="POST" accept-charset="UTF-8" autocomplete="off">
    {{.CsrfField}}

    <fieldset>
      <div class="pure-controls first-control-group">
        {{if .Domain.ID}}
          <h3>{{T "domain_one"}}: {{.Domain.Name}}</h3>
        {{else}}
          <h3>{{T "domain_one"}}: {{T "show_new"}}</h3>
        {{end}}
      </div>

      <div class="pure-control-group">
        <label for="domain_name">{{T "domain_name"}}</label>
        <input id="domain_name" type="text" name="domain_name" value="{{.Domain.Name}}" required autofocus>
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button menu-button success-button">
          <i class="fa fa-check"></i>
          <br>
          {{T "action_save"}}
        </button>
        <a href="{{.Base_URL}}home" class="pure-button menu-button">
          <i class="fa fa-times"></i>
          <br>
          {{T "action_cancel"}}
        </a>
      </div>
    </fieldset>
  </form>

  {{template "footer" .}}
{{end}}

{{/* vim: set expandtab softtabstop=2 shiftwidth=2 autoindent : */}}
