{{- define "home" -}}
{{- $root := .Web_Root -}}
  {{template "header" .}}

  <div class="main">
    <div class="content">
      <table class="table stripe table-bordered table-hover" style="display:none;">
        <thead>
          <tr>
            <th>{{T "domain_one"}}</th>
            <th>{{T "address_one"}}</th>
            <th>{{T "alias_many"}}</th>
            <th>Aktion</th>
          </tr>
        </thead>
        <tbody>
          {{$my_id := .CurrentAddress.ID}}
          {{range .Addresses}}
            <tr>
              <td>
                <a href="{{$root}}/domain/{{.DomainID}}">{{.DomainName}}</a>
              </td>
              <td>
                {{if eq $my_id .ID}}
                  <b>
                {{end}}
                <a href="{{$root}}/address/{{.ID}}">{{.Email}}</a>
                {{if eq $my_id .ID}}
                  </b>
                {{end}}
                {{if .Admin}}
                  ({{T "address_admin"}})
                {{end}}
              </td>
              <td>
                {{range .Aliases}}
                  {{.Email}}
                  <br>
                {{end}}
              </td>
              <td>
                {{if eq $my_id .ID}}
                  <a href="{{$root}}/password" class="pure-button menu-button">
                    <i class="fa fa-key"></i>
                    <br>
                    {{T "password_password"}}
                  </a>
                {{else}}
                  <a href="{{$root}}/address/{{.ID}}/print" class="pure-button menu-button" target="_blank">
                    <i class="fa fa-print"></i>
                    <br>
                    {{T "password_password"}}
                  </a>
                  <a href="{{$root}}/address/{{.ID}}/delete" class="pure-button menu-button error-button"
                          onclick="return confirm('{{.ConfirmDelete}}');">
                    <i class="fa fa-trash"></i>
                    <br>
                    {{T "action_delete"}}
                  </a>
                {{end}}
              </td>
            </tr>
          {{end}}
          {{range .Domains}}
            <tr>
              <td>
                <a href="{{$root}}/domain/{{.ID}}">{{.Name}}</a>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
                <a href="{{$root}}/domain/{{.ID}}/delete" class="pure-button menu-button error-button"
                          onclick="return confirm('{{.ConfirmDelete}}');">
                  <i class="fa fa-trash"></i>
                  <br>
                  {{T "action_delete"}}
                </a>
              </td>
            </tr>
          {{end}}
        </tbody>
      </table>

      <br>

      <a href="{{.Web_Root}}/domain" class="pure-button menu-button success-button">
        <i class="fa fa-server"></i>
        <br>
        {{T "action_new_domain"}}
      </a>
      <a href="{{.Web_Root}}/address" class="pure-button menu-button success-button">
        <i class="fa fa-user"></i>
        <br>
        {{T "action_new_address"}}
      </a>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      var table = $('table.table').show().DataTable({
        {{if eq .Language "de"}}
          "language": dataTable_de,
        {{end}}
        "autoWidth": false
      });
      $('#DataTables_Table_0_filter input').focus();
    });
  </script>

  {{template "footer" .}}
{{end}}

{{/* vim: set expandtab softtabstop=2 shiftwidth=2 autoindent : */}}
