{{- define "password_edit" -}}
  {{template "header" .}}

  <form class="pure-form pure-form-aligned" action="{{.Base_URL}}password" method="POST" accept-charset="UTF-8" autocomplete="off">
    {{.CsrfField}}

    <fieldset>
      <div class="pure-control-group">
        <label for="password_address">{{T "address_one"}}</label>
        <input id="password_address" type="text" name="password_address" value="{{.CurrentAddress.Email}}" readonly>
      </div>

      <div class="pure-control-group">
        <label for="password_password">{{T "password_password"}}</label>
        <input id="password_password" type="password" name="password_password" autofocus>
      </div>

      <div class="pure-control-group">
        <label for="password_confirmation">{{T "password_confirmation"}}</label>
        <input id="password_confirmation" type="password" name="password_confirmation">
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button menu-button success-button">
          <i class="fa fa-check"></i>
          <br>
          {{T "action_save"}}
        </button>
        {{if .CurrentAddress.Admin}}
          <a href="{{.Base_URL}}" class="pure-button menu-button">
            <i class="fa fa-times"></i>
            <br>
            {{T "action_cancel"}}
          </a>
        {{else}}
          <a href="{{.Base_URL}}logout" class="pure-button menu-button">
            <i class="fa fa-times"></i>
            <br>
            {{T "action_cancel"}}
          </a>
        {{end}}
      </div>
    </fieldset>
  </form>

  {{template "footer" .}}
{{end}}

{{/* vim: set expandtab softtabstop=2 shiftwidth=2 autoindent : */}}
